USE [Project_PRN292]
GO
ALTER TABLE [dbo].[Question] DROP CONSTRAINT [FK_Question_ImageCauHoi]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/7/2021 3:46:23 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Question]') AND type in (N'U'))
DROP TABLE [dbo].[Question]
GO
/****** Object:  Table [dbo].[ImageCauHoi]    Script Date: 7/7/2021 3:46:23 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ImageCauHoi]') AND type in (N'U'))
DROP TABLE [dbo].[ImageCauHoi]
GO
USE [master]
GO
/****** Object:  Database [Project_PRN292]    Script Date: 7/7/2021 3:46:23 PM ******/
DROP DATABASE [Project_PRN292]
GO
/****** Object:  Database [Project_PRN292]    Script Date: 7/7/2021 3:46:23 PM ******/
CREATE DATABASE [Project_PRN292]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project_PRN292', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Project_PRN292.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_PRN292_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Project_PRN292_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_PRN292].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_PRN292]
GO
/****** Object:  Table [dbo].[ImageCauHoi]    Script Date: 7/7/2021 3:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageCauHoi](
	[ImageID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_ImageCauHoi] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/7/2021 3:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] NOT NULL,
	[ImageID] [int] NULL,
	[NumberAnser] [int] NULL,
	[Answer] [int] NULL,
	[Liet] [bit] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ImageCauHoi] ([ImageID], [Image]) VALUES (1, N'600-cau-hoi-ly-thuyet-lai-xe (1).jpg')
INSERT [dbo].[ImageCauHoi] ([ImageID], [Image]) VALUES (2, N'600-cau-hoi-ly-thuyet-lai-xe (2).jpg')
INSERT [dbo].[ImageCauHoi] ([ImageID], [Image]) VALUES (3, N'600-cau-hoi-ly-thuyet-lai-xe (3).jpg')
GO
INSERT [dbo].[Question] ([QuestionID], [ImageID], [NumberAnser], [Answer], [Liet]) VALUES (1, 1, 3, 2, 0)
INSERT [dbo].[Question] ([QuestionID], [ImageID], [NumberAnser], [Answer], [Liet]) VALUES (2, 2, 2, 2, 0)
INSERT [dbo].[Question] ([QuestionID], [ImageID], [NumberAnser], [Answer], [Liet]) VALUES (3, 3, 3, 2, 0)
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_ImageCauHoi] FOREIGN KEY([ImageID])
REFERENCES [dbo].[ImageCauHoi] ([ImageID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_ImageCauHoi]
GO
USE [master]
GO
